<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>

    <body>
        <div class="flex flex-col h-screen">
            <!-- navbar -->
            <%- include("layouts/navbar") %>

            <div class="bg-gray-100 flex-auto">
                <div class="flex justify-center mt-20">
                    <div class="w-9/12 border bg-white">
                        <div class="my-16 text-center">
                            <h2 class="text-2xl font-bold">〇〇さん、こんにちは</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
