<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>

    <body>
        <div class="flex flex-col h-screen">
            <!-- navbar -->
            <%- include("layouts/navbar") %>

            <div class="bg-gray-100 flex-auto">
                <div class="flex justify-center mt-20">
                    <div class="w-9/12 border bg-white">
                        <div class="my-16 text-center">
                            <h2 class="text-4xl font-bold">新規登録</h2>
                            <form
                                action="/users/register"
                                method="POST"
                                enctype="multipart/form-data"
                                class="mt-12"
                            >
                                <div class="mb-3">
                                    <input
                                        type="text"
                                        placeholder="ユーザー名"
                                        class="text-xl w-7/12 p-3 border rounded"
                                        id="username"
                                        name="username"
                                    />
                                </div>
                                <div class="mb-3">
                                    <input
                                        type="email"
                                        placeholder="you@gmail.com"
                                        class="text-xl w-7/12 p-3 border rounded"
                                        id="email"
                                        name="email"
                                    />
                                </div>
                                <div class="mb-3">
                                    <input
                                        type="password"
                                        placeholder="パスワード(7文字以上)"
                                        class="text-xl w-7/12 p-3 border rounded"
                                        id="password"
                                        name="password"
                                    />
                                </div>
                                <div class="mb-8">
                                    <input
                                        type="password"
                                        placeholder="パスワードの確認"
                                        class="text-xl w-7/12 p-3 border rounded"
                                        id="confirm"
                                        name="confirm"
                                    />
                                </div>
                                <div>
                                    <button
                                        type="submit"
                                        class="text-xl w-4/12 bg-blue-800 text-white py-2 rounded hover:opacity-75"
                                    >
                                        登録
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
