<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>

    <body>
        <div class="flex flex-col h-screen">
            <!-- navbar -->
            <%- include("layouts/navbar") %>

            <div class="bg-gray-100 flex-auto">
                <div class="flex justify-center mt-20">
                    <div class="w-9/12 border bg-white">
                        <div class="my-16 text-center"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            fetch('http://localhost:3000', {
                headers: {
                    token: 'token',
                },
            }).then((res) => {
                console.log(res.headers.get('token'));
            });
        </script>
    </body>
</html>
