<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Node.js課題③</title>
        <link rel="stylesheet" href="../public/styles/style.css" />
    </head>
    <body>
        <h2 id="headline">ようこそ</h2>
        <h3 id="genre"></h3>
        <h3 id="difficulty"></h3>

        <div id="message">以下のボタンをクリック</div>
        <div class="btn-wrapper">
            <button id="btn">開始</button>
        </div>
        <div class="home-wrapper">
            <a href=""><button class="hidden">ホームに戻る</button></a>
        </div>
        <div class="answer-wrapper"></div>
    </body>
    <script type="module" src="../public/js/main.js"></script>
</html>
