<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>

    <body>
        <!-- navbar -->
        <%- include("layouts/navbar") %>

        <h2><%= username %>さん、ようこそ</h2>
    </body>
</html>
