<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>

    <body>
        <!-- navbar -->
        <%- include("layouts/navbar") %>

        <h1>新規登録</h1>
        <form action="/form" method="POST">
            <div>
                <input type="text" placeholder="name" name="name" />
            </div>
            <div>
                <input type="text" placeholder="email" name="email" />
            </div>
            <div>
                <input type="password" placeholder="password" name="password" />
            </div>
            <div>
                <input type="password" placeholder="confirmPassword" name="confirmPassword" />
            </div>
            <div>
                <button type="submit">新規登録</button>
            </div>
        </form>
        <div>
            <% for(let i = 0; i < errorMessage.length; i ++) { %>
            <p style="color: red"><%= errorMessage[i] %></p>
            <% } %>
        </div>
    </body>
</html>
