<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Node.js課題①</title>
        <link rel="stylesheet" href="../public/styles/style.css" />
    </head>
    <body>
        <%# colで縦並びにして, 高さを100vhに設定%>
        <div class="flex flex-col h-screen">
            <header class="flex justify-between p-5 border-b items-center">
                <%# font-weight: 600; font-size: 1.5rem; line-height: 1.25; %>
                <h1 class="font-semibold text-2xl leading-tight hover:opacity-50">
                    <a href="/"> Laravel </a>
                </h1>
                <div>
                    <button class="mr-3 hover:opacity-50">
                        <a href="/login"> ログイン </a>
                    </button>
                    <button class="ml-3 hover:opacity-50">
                        <a href="/"> 新規登録 </a>
                    </button>
                </div>
            </header>

            <div class="bg-gray-100 flex-auto">
                <div class="flex justify-center mt-20">
                    <div class="w-9/12 border bg-white">
                        <div class="my-16 text-center">
                            <h2 class="text-4xl font-bold">新規登録</h2>
                            <form class="mt-12">
                                <div class="mb-3">
                                    <input
                                        type="text"
                                        placeholder="ユーザー名"
                                        class="text-xl w-7/12 p-3 border rounded"
                                    />
                                </div>
                                <div class="mb-3">
                                    <input
                                        type="email"
                                        placeholder="you@gmail.com"
                                        class="text-xl w-7/12 p-3 border rounded"
                                    />
                                </div>
                                <div class="mb-3">
                                    <input
                                        type="password"
                                        placeholder="パスワード(6文字以上)"
                                        class="text-xl w-7/12 p-3 border rounded"
                                    />
                                </div>
                                <div class="mb-8">
                                    <input
                                        type="password"
                                        placeholder="パスワードの確認"
                                        class="text-xl w-7/12 p-3 border rounded"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="text-xl w-4/12 bg-blue-800 text-white py-2 rounded hover:opacity-75"
                                >
                                    <a href="/login"> 登録 </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
