<header>
    <h1>
        <a href="/">Laravel</a>
    </h1>
    <div>
        <% if(!username) { %>
        <button>
            <a href="/login"> ログイン </a>
        </button>
        <button>
            <a href="/register"> 新規登録 </a>
        </button>
        <% } %> <% if(username) { %>
        <button>
            <a href="/register"> ログアウト </a>
        </button>
        <% } %>
    </div>
</header>
